In [30]:
# Initialize Otter
import otter
grader = otter.Notebook()

# Instructions

## **Assignment Instructions**

* **How to install 'otter'**: Run `pip install otter-grader` in your Anaconda Command Prompt
* **Otter**: It is an autograder that we will be using for grading your notebooks.
* **grader.check('qn')**: This command runs test cases for nth question `qn` provided to you and displays the result. But these are not the only test cases, these are provided just for your basic testing. There will be some *hidden test cases* on which your answers will be tested as well.
* You are **not** allowed to edit any pre-defined variables and as per the instructions for every question you have to assign your answers to these variables.
* Write your answers in place of `...` where prompted
* **How to run this on google colab**: Uncomment the below code and replace wherever necessary to run this assignment on google colab (only if you want to - jupyter notebooks work just fine)

In [31]:
#Linking google colab to your drive folder
#from google.colab import drive
#drive.mount('/content/gdrive', force_remount=True)

In [32]:
#Replace 'Assignment 2 DS' with the path of the folder of your assignment
#%cd /content/gdrive/My\ Drive/Assignment 2 DS

## **Submission Instructions**

* There are two parts of this assignment. You should name both notebooks as **YourRollNumber_PartNumber.ipynb**. (e.g. this part should be named as *`2XXXXXXX_1.ipynb`*)
* You must submit a zip file containg just two notebooks and it must not has any folder or any other file. 
* The name of the zip file must be your `Roll Number`

## **Grading**

Grading is broken down into autograded answers and free response.

* For autograded answers, the results of your code are compared to provided and/or hidden tests.
* There are default assignments in some questions, storing the state of the dataframes at the time of that particular question in '*#_q#*' variables. Do NOT change any of these assignments as they are used by the auto-grader to check your answers.
* For free response, readers will evaluate how well you answered the question and/or fulfilled the requirements of the question.

# **World Happiness Report**

## **Introduction**

Happiness has always been one of those fluctuating emotional states for humans, perhaps more so in light of recent events. With reports by 'World Happiness Report', publication of the Sustainable Development Solutions Network, coming in every year, you have decided to embark on a journey to uncover just how happy the citizens of countries around the world perceive themselves to be. 

But how can happiness be measured? Are there reliable comparisons of happiness across time and space that can give us clues regarding what makes people or even countries to declare themselves as ‘happy’? Well, this is exactly what our task is.

In this assignment, we aim to analyse the data and empirical evidence that might answer these questions. Our focus here will be on survey-based measures of self-reported happiness and life satisfaction.

### **Getting Familiar with our Data**

In this assignment, we will analyze World Happiness datasets from years 2015, 2017, 
and 2019, each having about 158 countries and different attributes. 

The variables used reflect what has been broadly found in the research literature to be important in explaining national-level differences in life evaluations. Some important variables, such as unemployment or inequality, do not appear because comparable international data are not yet available for the full sample of countries. The values for the attributes other than score/rank are to be interpreted as ratings for each of the variables, with higher ratings representing countries that are more favorable in those variables.

| Variable Name      | Variable Description   |
| ----------- | ----------- |
| Country      | Name of the country       |
| Region   | 	The region that country belongs to        |
| Happiness Score   | 	A metric asking the sampled people the question: “How would you rate your happiness on a scale of 0 to 10 where 10 is the happiest”  |
| Happiness Rank/Overall Rank   | 	Rank of the country based on happiness score    |
|Economy (GDP per capita)   | 	The extent to which GDP contributes to the calculation of the Happiness Score.    |
|Family/Social support   | The national average of the binary responses (either 0 or 1) to the question “If you were in trouble, do you have relatives or friends you can count on to help you whenever you need them, or not?”    |
|Health (Life Expectancy)   | 	The extent to which Life Expectancy contributes to the calculation of the Happiness Score.   |
|Freedom  | The national average of binary responses (either 0 or 1) to the question “Are you satisfied or dissatisfied with your freedom to choose what you do with your life?” |
|Trust | 	The national average of the binary responses (either 0 or 1) to the two questions asking about how widespread they think corruption is in the government. |
|Generosity| The residual of regressing national average of binary responses (either 0 or 1) to the question “Have you donated money to a charity in the past month?” on GDP per capita.|
|Dystopia Residuals|The benchmark country corresponding to the lowest possible values in each of the criteria, to aid in a comparison.|



*   The datasets have a lot of problems regarding consistency in the variety of variables measured across the years.
*  The goal for the first part of this assignment is to clean and merge the data so it can be later used for insightful analysis.

### **Importing Libraries**

In [33]:
import pandas as pd

### **Loading Data**

In [34]:
df_2015 = pd.read_csv('2015.csv')
df_2017 = pd.read_csv('2017.csv')
df_2019 = pd.read_csv('2019.csv')

## **Data Cleaning**

### **Cleaning Part 1: Examining the Data**

<!-- BEGIN QUESTION -->

**Question 1:** What is the granularity of the data (i.e. what does each row represent)?

*Answering Guidelines:* a placeholder for your answer has been made - simply add your answer in the markdown cell below as instructed.

<!--
BEGIN QUESTION
name: q1
points: 1
manual: true
-->

The granularity of data is fine grained when it comes to country wide analysis as none of the variable is a combination of multiple variables and it is presented in simple numerical form where we dont have to extract anything from those values and just simply use them. It would be coarse grained if we see it from a persons perspective because each variable represents the average of the values for people from that country. So each row here represents a country and containes tha values for a variable representing a factor that contributes to the happiness of the people living in that country.

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 2:** What other meaningful insights could you have extracted from this dataset apart from what you did in this assignment? Also, comment on the quality of data available and give suggestions on how the data could have been better.

**Note:** Come to this question at the end of the assignment.

*Answering Guidelines:* a placeholder for your answer has been made - simply add your answer in the markdown cell below as instructed.

<!--
BEGIN QUESTION
name: q2
points: 5
manual: true
-->

We could have made comparissions of different variables with the rank/score of each country and that would have given us a common trend of what is the most important factor contributing to happiness and how an increase or decrease in that particular value affects the score/rank of that country. We could also have observed countries which have recorded a continious increase or a  continious decrease in their ranks/scores across the 3 data sets and then studied what factors are contributing to that. We can also observe these trends to predict the top 10 and bottom 10 countries for the upcoming year. We could also have observeded anamolies for eg Country X has all its variables declining but its score does not seem to decline. The quality of data given was good as the data types were consistent across years. There were few missing values in the data which resulted in estimations. Some countries also weren't consistent across years which resulted in losing data for those inconsistent countries. This could be improved by keeping countries consistent across years. Moreover, the variables should also be consistent. The regions should have been smaller so that they do not have a disparity that some regeions contain such a huge amount of countries while some contain countries within the single digit.

<!-- END QUESTION -->



### **Cleaning Part 2: Data Preparation**

#### **2A: Data Summary**

Before beginning to clean our datasets, lets take a look at how our data looks. You will be examining the datasets using the following:

*   Use .head() to examine the first 5 rows of each dataset
*   Use .shape() to examine the number of rows and columns in each dataset
*   Use an appropriate pandas function which displays a summary of the dataset, including the min,max etc.
*   Use an appropriate pandas function which displays a summary of the datatype for each column within the dataset.

**Question 3:** Perform the above mentioned functions on the data from 2015

*Answering Guidelines:* Store your answers in the appropriate variables
* q3_head = stores the output of the first requirement listed above
* q3_shape = stores the output of the second requirement listed above
* q3_summary = stores the output of the third requirement listed above
* q3_datatype = stores the output of the fourth requirement listed above

<!--
BEGIN QUESTION
name: q3
points: 4
-->

In [35]:
q3_head = df_2015.head()
# q3_head
q3_shape = df_2015.shape
# q3_shape
q3_summary = df_2015.describe()
# q3_summary
q3_datatype = df_2015.dtypes
q3_datatype

Country                           object
Region                            object
Happiness Rank                     int64
Happiness Score                  float64
Standard Error                   float64
Economy (GDP per Capita)         float64
Family                           float64
Health (Life Expectancy)         float64
Freedom                          float64
Trust (Government Corruption)    float64
Generosity                        object
Dystopia Residual                float64
dtype: object

In [36]:
grader.check("q3")

    All tests passed!

**Question 4:** Perform the above mentioned functions on the data from 2017

*Answering Guidelines:* Store your answers in the appropriate variables
* q4_head = stores the output of the first requirement listed above
* q4_shape = stores the output of the second requirement listed above
* q4_summary = stores the output of the third requirement listed above
* q4_datatype = stores the output of the fourth requirement listed above

<!--
BEGIN QUESTION
name: q4
points: 4
-->

In [37]:
q4_head = df_2017.head()
q4_shape = df_2017.shape
q4_summary = df_2017.describe()
q4_datatype = df_2017.dtypes
q4_datatype

Country                           object
Happiness.Rank                     int64
Happiness.Score                  float64
Whisker.high                     float64
Whisker.low                      float64
Economy..GDP.per.Capita.         float64
Family                            object
Health..Life.Expectancy.         float64
Freedom                          float64
Generosity                       float64
Trust..Government.Corruption.    float64
Dystopia.Residual                float64
dtype: object

In [38]:
grader.check("q4")

    All tests passed!

**Question 5:** Perform the above mentioned functions on the data from 2019

*Answering Guidelines:* Store your answers in the appropriate variables
* q5_head = stores the output of the first requirement listed above
* q5_shape = stores the output of the second requirement listed above
* q5_summary = stores the output of the third requirement listed above
* q5_datatype = stores the output of the fourth requirement listed above

<!--
BEGIN QUESTION
name: q5
points: 4
-->

In [39]:
q5_head = df_2019.head()
q5_shape = df_2019.shape
q5_summary = df_2019.describe()
q5_summary
q5_datatype = df_2019.dtypes
q5_datatype

Overall rank                      int64
Country or region                object
Score                           float64
GDP per capita                  float64
Social support                  float64
Healthy life expectancy         float64
Freedom to make life choices     object
Generosity                      float64
Perceptions of corruption       float64
dtype: object

In [40]:
grader.check("q5")

    All tests passed!

#### **2B: Negative Values + Data Inconsistency**

##### Negative values

While preparing the assignment, we accidentally inverted the signs of one of the columns from the datasets. 

**Question 6:** Find the column and correct this mistake to continue working on your assignment. Make sure the column has been updated in the original dataframe as well.

Hints: Go back to the summaries of the yearly datasets to find which column. Map and lambda functions would prove to be useful here.

<!--
BEGIN QUESTION
name: q6
points: 2
-->

In [41]:
Corrected_column = df_2019['Score'].map(lambda x: -x)
Corrected_column
Score = pd.DataFrame({'Score' : Corrected_column})
df_2019.update(Score)
df_2019

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,"""Finland""",7.769,1.340,1.587,0.986,"""0.596""",0.153,0.393
1,2,"""Denmark""",7.600,1.383,1.573,0.996,"""0.5920000000000001""",0.252,0.410
2,3,"""Norway""",7.554,1.488,1.582,1.028,"""0.603""",0.271,0.341
3,4,"""Iceland""",7.494,1.380,1.624,1.026,"""0.591""",0.354,0.118
4,5,"""Netherlands""",7.488,1.396,1.522,0.999,"""0.557""",0.322,0.298
...,...,...,...,...,...,...,...,...,...
151,152,"""Rwanda""",3.334,0.359,0.711,0.614,"""0.555""",0.217,0.411
152,153,"""Tanzania""",3.231,0.476,0.885,0.499,"""0.41700000000000004""",0.276,0.147
153,154,"""Afghanistan""",3.203,0.350,0.517,0.361,"""0.0""",0.158,0.025
154,155,"""Central African Republic""",3.083,0.026,0.000,0.105,"""0.225""",0.235,0.035
155,156,"""South Sudan""",2.853,0.306,0.575,0.295,"""0.01""",0.202,0.091

In [42]:
grader.check("q6")

    All tests passed!

##### Column formats

For the columns mentioned below, their values have quotes around them ('') which need to be cleaned. You might also need to fix datatypes after having cleaned them, pandas documentation is your friend so use it!

**Question 7:** Do the above mentioned task for the 'Country' and 'Generosity' columns in the 2015 dataset.

*Answering Guidelines:* As guided by the comments, first clean for quotes and then fix datatypes **if need be**. Assign the final answer to the columns provided below, that is, ```df_2015['Country']``` and ```df_2015['Generosity']``` should have perfectly cleaned values with correct datatypes in them.

<!--
BEGIN QUESTION
name: q7
points: 3
-->

In [43]:
df_2015["Country"] = df_2015["Country"].str.replace('"', '')
df_2015["Country"]
df_2015["Generosity"] = df_2015["Generosity"].str.replace('"', '').astype('float64', copy=False)
df_2015_q7 = df_2015.copy()
# datatype = df_2015.dtypes
# datatype

In [44]:
grader.check("q7")

    All tests passed!

**Question 8:** Do the above mentioned task for the 'Country' and 'Family' columns in the 2017 dataset.

*Answering Guidelines:* As guided by the comments, first clean for quotes and then fix datatypes **if need be**. Assign the final answer to the columns provided below, that is, ```df_2017['Country']``` and ```df_2017['Family']``` should have perfectly cleaned values with correct datatypes in them.

<!--
BEGIN QUESTION
name: q8
points: 3
-->

In [45]:
df_2017.dtypes
df_2017["Country"] = df_2017["Country"].str.replace('"', '')
df_2017
df_2017["Family"] = df_2017["Family"].str.replace('"', '').astype('float64', copy=False)
df_2017_q8 = df_2017.copy()
df_2017.dtypes

Country                           object
Happiness.Rank                     int64
Happiness.Score                  float64
Whisker.high                     float64
Whisker.low                      float64
Economy..GDP.per.Capita.         float64
Family                           float64
Health..Life.Expectancy.         float64
Freedom                          float64
Generosity                       float64
Trust..Government.Corruption.    float64
Dystopia.Residual                float64
dtype: object

In [46]:
grader.check("q8")

    All tests passed!

**Question 9:**  Do the above mentioned task for the 'Country or region' and 'Freedom' columns in the 2019 dataset.

*Answering Guidelines:* As guided by the comments, first clean for quotes and then fix datatypes **if need be**. Assign the final answer to the columns provided below, that is, ```df_2019['Country or region']``` and ```df_2019['Freedom']``` should have perfectly cleaned values with correct datatypes in them.

<!--
BEGIN QUESTION
name: q9
points: 3
-->

In [47]:
df_2019["Country or region"] = df_2019["Country or region"].str.replace('"', '')
df_2019["Freedom to make life choices"] = df_2019["Freedom to make life choices"].str.replace('"', '').astype(
    'float64', copy=False)
df_2019
df_2019_q9 = df_2019.copy()

In [48]:
grader.check("q9")

    All tests passed!

##### **Missing Values**

**Question 10:** For each year, check which columns have missing values. Then deal with them using the most appropriate method.
For help, see:
[How to Deal with Missing Data in Python](https://towardsdatascience.com/how-to-deal-with-missing-data-in-python-1f74a9112d93)

*Answering Guidelines:* The placeholders for ```df_2015```, ```df_2017``` and ```df_2019``` should have the dataframes with zero null values - essentially deal with the missing values and store the final answer in them.

<!--
BEGIN QUESTION
name: q10
points: 3
-->

In [49]:
# null_2015 = df_2015.isnull().sum()
# null_2017 = df_2017.isnull().sum()
# null_2019 = df_2019.isnull().sum()

# print(null_2015)
# display(df_2015)
# print(null_2017)
# display(df_2017)
# print(null_2019)
# display(df_2019)

df_2015['Happiness Score'].interpolate(method = 'linear', inplace = True)
null_2015 = df_2015.isnull().sum()
print(null_2015)

df_2017['Economy..GDP.per.Capita.'].fillna(df_2017['Economy..GDP.per.Capita.'].mean(), inplace=True)
df_2017['Generosity'].fillna(df_2017['Generosity'].mean(), inplace=True)
null_2017 = df_2017.isnull().sum()
print(null_2017)

df_2019['Freedom to make life choices'].fillna(df_2019['Freedom to make life choices'].mean(), inplace=True)
df_2019['Perceptions of corruption'].fillna(df_2019['Perceptions of corruption'].mean(), inplace=True)
null_2019 = df_2019.isnull().sum()
print(null_2019)


df_2015 = df_2015
df_2017 = df_2017
df_2019 = df_2019

df_2015_q10 = df_2015.copy()
df_2017_q10 = df_2017.copy()
df_2019_q10 = df_2019.copy()

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Standard Error                   0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64
Country                          0
Happiness.Rank                   0
Happiness.Score                  0
Whisker.high                     0
Whisker.low                      0
Economy..GDP.per.Capita.         0
Family                           0
Health..Life.Expectancy.         0
Freedom                          0
Generosity                       0
Trust..Government.Corruption.    0
Dystopia.Residual                0
dtype: int64
Overall rank                    0
Country or region               0
Score                           0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       0
dtype: int64

In [50]:
grader.check("q10")

    All tests passed!

##### **Dropping Columns**


When it comes to large datasets, you will often find inconsistensies in the amount of data that has been recorded over the years, even if the origin is the same. Similary, for the World Happiness Report, different data was collected over the years out of which some columns might not be useful to us. 

**Question 11:** Go through all the datasets and drop the columns (**where need be**) that are inconsistent over the years to carry out a fair analysis. 

Your end result must include the following columns **only** (in each dataset): Country, Region (found only in 2015, but needed for a later task), Happiness Rank, Happiness Score, Economy, Family/Social Support, Freedom, Trust, Generosity, Life Expectancy/Health

*Answering Guidelines:* The placeholders for ```df_2015```, ```df_2017``` and ```df_2019``` should have the dataframes consisting of the above mentioned columns. In the case where no such dropping is to take place, simply assign the dataframe back to itself :p

<!--
BEGIN QUESTION
name: q11
points: 2
-->

In [51]:
# display(df_2015)
# display(df_2017)
display(df_2019)

df_2015 = df_2015.drop(['Standard Error', 'Dystopia Residual'], axis = 1)
display(df_2015)

df_2017 = df_2017.drop(['Whisker.high', 'Whisker.low', 'Dystopia.Residual'], axis = 1)
display(df_2017)

df_2019 = df_2019

df_2015_q11 = df_2015.copy()
df_2017_q11 = df_2017.copy()
df_2019_q11 = df_2019.copy()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811
...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628
154,Benin,Sub-Saharan Africa,155,3.340,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260
155,Syria,Middle East and Northern Africa,156,3.006,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179
156,Burundi,Sub-Saharan Africa,157,2.905,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727
157,Togo,Sub-Saharan Africa,158,2.839,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681

,Country,Happiness.Rank,Happiness.Score,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612
...,...,...,...,...,...,...,...,...,...
150,Rwanda,151,3.471,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220
151,Syria,152,3.462,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347
152,Tanzania,153,3.349,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035
153,Burundi,154,2.905,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148
154,Central African Republic,155,2.693,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565

In [52]:
grader.check("q11")

    All tests passed!

##### **Renaming Columns**

Its a good practice to have short, uniform, and representative column names when you are working with multiple datasets of the same kind.

**Question 12:** This dataset has whitespaces and dots in the column names. Rename the columns to the following names, for all the years:

* **Country** = country
* **Region** = region
* **Happiness Rank** = rank
* **Happiness Score** = score 
* **Economy** = GDP_per_capita 
* **Family/Social Support** = social_support
* **Freedom** = freedom
* **Trust** = trust
* **Generosity** = generosity
* **Life Expectancy/Health** = life_expectancy

Hint: .columns() is a helpful function

*Answering Guidelines:* The placeholders for ```df_2015```, ```df_2017``` and ```df_2019``` should have the dataframes with the above mentioned column names.

<!--
BEGIN QUESTION
name: q12
points: 3
-->

In [53]:
# print(df_2015.columns)
# print(df_2017.columns)
# print(df_2019.columns)

df_2015 = df_2015.rename(columns = {'Country':'country', 'Region':'region', 'Happiness Rank': 'rank', 'Happiness Score': 
                                    'score', 'Economy (GDP per Capita)': 'GDP_per_capita', 'Family': 'social_support',
                                    'Health (Life Expectancy)':'life_expectancy', 'Freedom': 'freedom', 
                                    'Trust (Government Corruption)': 'trust', 'Generosity': 'generosity'})
df_2017 = df_2017.rename(columns = {'Country': 'country', 'Happiness.Rank': 'rank', 'Happiness.Score': 'score', 
                                    'Economy..GDP.per.Capita.': 'GDP_per_capita', 'Family': 'social_support',
                                   'Health..Life.Expectancy.': 'life_expectancy', 'Freedom': 'freedom', 'Generosity': 
                                    'generosity', 'Trust..Government.Corruption.': 'trust' })
df_2019 = df_2019.rename(columns = {'Overall rank': 'rank', 'Country or region': 'country', 'Score': 'score',
                                   'GDP per capita': 'GDP_per_capita', 'Social support': 'social_support',
                                   'Healthy life expectancy': 'life_expectancy', 'Freedom to make life choices': 'freedom',
                                   'Generosity': 'generosity', 'Perceptions of corruption': 'trust'})

print(df_2015.columns)
print(df_2017.columns)
print(df_2019.columns)

Index(['country', 'region', 'rank', 'score', 'GDP_per_capita',
       'social_support', 'life_expectancy', 'freedom', 'trust', 'generosity'],
      dtype='object')
Index(['country', 'rank', 'score', 'GDP_per_capita', 'social_support',
       'life_expectancy', 'freedom', 'generosity', 'trust'],
      dtype='object')
Index(['rank', 'country', 'score', 'GDP_per_capita', 'social_support',
       'life_expectancy', 'freedom', 'generosity', 'trust'],
      dtype='object')

In [54]:
grader.check("q12")

    All tests passed!

#### **2C: Merging the Data**

You would have noticed by now that the Region column is missing in the 2017 and 2019 datasets. Not only that, there is also a difference in the countries for which information has been collected over the years (for example: country X might be in 2015 and 2017 but not in 2019).

**Question 13:** We asked you to retain the regions column in the 2015 dataset above to help you with one of the tasks above. Figure out a way to add the regions column to datasets from 2017 and 2019 ensuring that all countries overlap across the yearly datasets.

*Answering Guidelines:* The placeholders for ```df_2015```, ```df_2017``` and ```df_2019``` should have the dataframes with the final countries. Make sure the column names are the same as the ones established previously and that there are no repeated columns within the dataframes.

<!--
BEGIN QUESTION
name: q13
points: 5
-->

In [55]:

# df_2015 = ...
# print(df_2015)
# display(df_2017)

df_2017 = pd.merge(df_2017, df_2015[['country', 'region']], on = 'country', how = 'left')
df_2017.describe()

# null_2017 = df_2017.isnull().sum()
# print(null_2017)
# display(df_2017)

df_2019 = pd.merge(df_2019, df_2015[['country', 'region']], on = 'country', how = 'left')

# null_2019 = df_2019.isnull().sum()
# print(null_2019)

df_2019.dropna(axis=0, inplace = True)
df_2017.dropna(axis=0, inplace = True)

filter_1 = df_2017['country'].isin(df_2019['country'])
filter_2 = df_2019['country'].isin(df_2017['country'])
filter_3 = df_2015['country'].isin(df_2017['country'])
filter_4 = df_2015['country'].isin(df_2019['country'])

df_2017 = df_2017[filter_1]
df_2019 = df_2019[filter_2]
df_2015 = df_2015[filter_3 & filter_4]

display(df_2015)
display(df_2017)
display(df_2019)

,country,region,rank,score,GDP_per_capita,social_support,life_expectancy,freedom,trust,generosity
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811
...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628
154,Benin,Sub-Saharan Africa,155,3.340,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260
155,Syria,Middle East and Northern Africa,156,3.006,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179
156,Burundi,Sub-Saharan Africa,157,2.905,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727
157,Togo,Sub-Saharan Africa,158,2.839,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681

,country,rank,score,GDP_per_capita,social_support,life_expectancy,freedom,generosity,trust,region
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,Western Europe
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,Western Europe
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,Western Europe
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,Western Europe
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,Western Europe
...,...,...,...,...,...,...,...,...,...,...
150,Rwanda,151,3.471,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220,Sub-Saharan Africa
151,Syria,152,3.462,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,Middle East and Northern Africa
152,Tanzania,153,3.349,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035,Sub-Saharan Africa
153,Burundi,154,2.905,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,Sub-Saharan Africa
154,Central African Republic,155,2.693,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,Sub-Saharan Africa

,rank,country,score,GDP_per_capita,social_support,life_expectancy,freedom,generosity,trust,region
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,Western Europe
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,Western Europe
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,Western Europe
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,Western Europe
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,Western Europe
...,...,...,...,...,...,...,...,...,...,...
150,151,Yemen,3.380,0.287,1.163,0.463,0.143,0.108,0.077,Middle East and Northern Africa
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,Sub-Saharan Africa
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147,Sub-Saharan Africa
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,Southern Asia
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,Sub-Saharan Africa

In [56]:
grader.check("q13")

    All tests passed!

## **Wuhu!**

*Pat yourself on the back*

You are done with a major chunk of what comes under the EDA process. There is obviously alot more to data cleaning since every dataset comes with its own set of complications, but I hope you guys learned some useful functions/approaches!

Before moving on to the next part, let's save the cleaned files so that these can be used easily later. We will save it as a 'pickle', a binary file format which will preserve out column types. Text-based file formats like csv and json do not preserve column data types.

In [57]:
#save the cleaned dataset
df_2015.to_pickle('cleaned_2015.pkl')
df_2017.to_pickle('cleaned_2017.pkl')
df_2019.to_pickle('cleaned_2019.pkl')

### Note: make sure you shift these pickle files to that directory where the python notebook for the second part is.

---

To double-check your work, the cell below will rerun all of the autograder tests.

In [27]:
grader.check_all()

q10:

    All tests passed!


q11:

    All tests passed!


q12:

    All tests passed!


q13:

    All tests passed!


q3:

    All tests passed!


q4:

    All tests passed!


q5:

    All tests passed!


q6:

    All tests passed!


q7:

    All tests passed!


q8:

    All tests passed!


q9:

    All tests passed!

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export("2XXXXXXX_1.ipynb")