# Assignment 1 (Part 1)

### Assignment Instructions

* **How to install 'otter'**: Run `pip install otter-grader` in your Anaconda Command Prompt
* **Otter**: It is an autograder that we will be using for grading your notebooks.
* **grader.check('qn')**: This command runs test cases for nth question `qn` provided to you and displays the result. But these are not the only test cases, these are provided just for your basic testing. There will be some *hidden test cases* on which your answers will be tested as well.
* You are **not** allowed to edit any pre-defined variables and as per the instructions for every question you have to assign your answers to these variables.
* Write your answers in place of `...`

### Submission Instructions

* There are two parts of this assignment. You should name both notebooks as **YourRollNumber_PartNumber.ipynb**. (e.g. this part should be named as *`2XXXXXXX_1.ipynb`*)
* You must submit a zip file containg just two notebooks and it must not has any folder or any other file. 
* The name of the zip file must be your `Roll Number`

In [1]:
# Initialize Otter
import otter
grader = otter.Notebook()

In [2]:
# Import necessary libraries here
import pandas as pd

**Question 1:** Create a DataFrame mirroring the table below and assign this to `our_cereals_data`. (`Note:` *name* is ***not*** an index_col)

| name | calories | shelf | rating |
|-----|-----|-----| -----|
| 100% Bran | 70 | 3 | 68 | 
| Almond Delight | 110 | 3 | 34 |
| Bran Flakes | 90 | 3 | 53 |
| CapnCrunch | 120 | 2 | 18 |
| Cocoa Puffs | 110 | 2 | 50 |
| Nut&Honey Crunch | 120 | 2 | 50 |
| Quaker Oatmeal | 100 | 1 |52 |
| Corn Pops | 110 | 2 | 70 |
| Cream of Wheat | 100 | 1 | 80 |
| Golden Crisp | 80 | 1 | 65 |

<!--
BEGIN QUESTION
name: q1
points: 5
-->

In [3]:
table = {'name': ['100% Bran', 'Almond Delight', 'Bran Flakes', 'CapnCrunch', 'Cocoa Puffs', 'Nut&Honey Crunch', 'Quacker Oatmeal', 'Corn Pops', 'Cream of Wheat', 'Golden Crisp'], 
                   'calories': [70, 110, 90, 120, 110, 120, 100, 110, 100, 80],
                   'shelf': [3, 3, 3, 2, 2, 2, 1, 2, 1, 1],
                   'rating': [68, 34, 53, 18, 50, 50, 52, 70, 80, 65]}

our_cereals_data = pd.DataFrame(table, columns = ['name', 'calories', 'shelf', 'rating'])
our_cereals_data

               name  calories  shelf  rating
0         100% Bran        70      3      68
1    Almond Delight       110      3      34
2       Bran Flakes        90      3      53
3        CapnCrunch       120      2      18
4       Cocoa Puffs       110      2      50
5  Nut&Honey Crunch       120      2      50
6   Quacker Oatmeal       100      1      52
7         Corn Pops       110      2      70
8    Cream of Wheat       100      1      80
9      Golden Crisp        80      1      65

In [4]:
grader.check("q1")

    All tests passed!

**Question 2:** Read dataset from `cereal.csv` and assign this dataframe to `cereals_data`

<!--
BEGIN QUESTION
name: q2
points: 5
-->

In [5]:
cereals_data = pd.read_csv("cereal.csv")
cereals_data

                         name  calories  shelf     rating
0                   100% Bran        70      3  68.402973
1           100% Natural Bran       120      3  33.983679
2                    All-Bran        70      3  59.425505
3   All-Bran with Extra Fiber        50      3  93.704912
4              Almond Delight       110      3  34.384843
..                        ...       ...    ...        ...
69                    Triples       110      3  39.106174
70                       Trix       110      2  27.753301
71                 Wheat Chex       100      1  49.787445
72                   Wheaties       100      1  51.592193
73        Wheaties Honey Gold       110      1  36.187559

[74 rows x 4 columns]

In [6]:
grader.check("q2")

    All tests passed!

**Question 3:** Create a mask for `cereals_data` for the `values of calories less than 100`.

*`Answering Guidelines:`*
* *`mask`*: an array of boolean values, where *True* represents the value of `cereals_data.calories` that is less than 100 otherwise it is *False*
* *`cereals_filtered`*: Filtered dataframe using `mask`

<!--
BEGIN QUESTION
name: q3
points: 5
-->

In [7]:
mask = [True, False, True, True, False, False, False, False, 
        True, True, False, False, False, False, False, False, 
        False, False, False, False, False, False, False, False, 
        False, False, False, False, False, False, False, False, 
        False, False, False, False, False, False, False, False, 
        False, False, False, False, False, False, False, True, False, 
        False, False, True, True, False, False, False, False, True,
        False, False, True, True, True, False, False, True, 
        False, False, False, False, False, False, False, False]
cereals_filtered = cereals_data[mask]
cereals_filtered

                         name  calories  shelf     rating
0                   100% Bran        70      3  68.402973
2                    All-Bran        70      3  59.425505
3   All-Bran with Extra Fiber        50      3  93.704912
8                   Bran Chex        90      1  49.120253
9                 Bran Flakes        90      3  53.313813
47          Nutri-grain Wheat        90      3  59.642837
51                Puffed Rice        50      3  60.756112
52               Puffed Wheat        50      3  63.005645
57             Raisin Squares        90      3  55.333142
60             Shredded Wheat        80      1  68.235885
61     Shredded Wheat 'n'Bran        90      1  74.472949
62  Shredded Wheat spoon size        90      1  72.801787
65    Strawberry Fruit Wheats        90      2  59.363993

In [8]:
grader.check("q3")

    All tests passed!

**Question 4:** What is the average value of first 10 cereals in `cereals_data`? (Solve this question using either `loc` or `iloc`) You might find `sum()`, that returns the sum of a series, useful for this question

*`Answering Guidlines:`* You must assaign the average to the variable *'average_value'*.

<!--
BEGIN QUESTION
name: q4
points: 5
-->

In [9]:
total = cereals_data.loc[0:9, 'calories'].sum()
average_value = total/10
average_value

95.0

In [10]:
grader.check("q4")

    All tests passed!

**Question 5:** Write a function `find_num_cereals_on_shelf` that takes a shelf number as an input and returns number of cereals on that shelf. 

*`Answering Guidlines:`* The function should return an integer and if the shelf number is out of range then it should return `None`

<!--
BEGIN QUESTION
name: q5
points: 5
-->

In [11]:
def find_num_cereals_on_shelf(shelf_num):
    if shelf_num >= cereals_data.shelf.min() and shelf_num <= cereals_data.shelf.max():
        count = len(cereals_data[cereals_data["shelf"] == shelf_num])
        return count
    else:
        return None

In [12]:
grader.check("q5")

    All tests passed!

**Question 6:** Find the cereals with the `highest` and the `lowest` ratings?

*`Aswering Guidlines:`* Both *'highest_ranking-cereal'* and *'lowest_ranking_cereal'* must have string data type, you have to assign names of highest and lowest ranking cereal to these variables, respectively.   

<!--
BEGIN QUESTION
name: q6
points: 5
-->

In [13]:
highest_row = cereals_data.loc[cereals_data["rating"] == cereals_data.rating.max()]
lowest_row = cereals_data.loc[cereals_data["rating"] == cereals_data.rating.min()]
highest = highest_row["name"].values[0]
lowest = lowest_row["name"].values[0]
highest_ranking_cereal = str(highest)
lowest_ranking_cereal = str(lowest)
print('Cereal with the highest ranking = {}'.format(highest_ranking_cereal))
print('Cereal with the lowest ranking = {}'.format(lowest_ranking_cereal))

Cereal with the highest ranking = All-Bran with Extra Fiber
Cereal with the lowest ranking = Cap'n'Crunch

In [14]:
grader.check("q6")

    All tests passed!

---

To double-check your work, the cell below will rerun all of the autograder tests.

In [15]:
grader.check_all()

q1:

    All tests passed!


q2:

    All tests passed!


q3:

    All tests passed!


q4:

    All tests passed!


q5:

    All tests passed!


q6:

    All tests passed!